@using App.Areas.Products.Services;
@inject CartService _cart;

@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="cart-container mt-2 mt-md-4">
    <h5 class="cart-heading text-center">Giỏ hàng của bạn</h5>
    @* <hr class="cart-divider primary-text mt-2"> *@
    <form class="row g-2" method="get">
        <div class="col-lg-8 cart-left-section">
            <div class="table-header">
                <div class="row h-100 align-items-center">
                    <div class="col-5 text-center">
                        Sản phẩm
                    </div>
                    <div class="col-3 text-end">
                        Số lượng
                    </div>
                    <div class="col-2 text-end">
                        Tổng tiền
                    </div>
                    <div class="col-2 text-center">
                        Thao tác
                    </div>
                </div>
            </div>
            @{
                var cartList = _cart.GetCart();
                <div class="empty-cart" style='@if(cartList != null && cartList.Count() > 0){ @("display: none;")}'>
                    <div class="empty-cart-img">
                        <img src="~/images/cart-empty.png" alt="">
                    </div>
                    <div class="empty-cart-content">
                        <span>Bạn chưa chọn sản phẩm nào cả. <br> Vui lòng quay lại <a
                                class="primary-text text-decoration-none" asp-action="Index" asp-controller="Home">Trang
                                chủ</a> để mua sắm</span>
                    </div>
                </div>
            }
            <ul class="cart-list" id="cart-list">

            </ul>
        </div>

        <div class="col-lg-4 cart-right-section">
            <div class="total-cost p-3 d-flex flex-column">
                <div class="heading">
                    <p class="fs-5 fw-semibold mb-0">Tổng thanh toán (<span id="product-choosed-count">0</span> sản
                        phẩm)</p>
                </div>
                <hr class="primary-text divider">
                <div class="total-price d-flex justify-content-between align-items-center">
                    <p class="mb-0 py-2 ">Tổng cộng: </p>
                    <p class="mb-0 py-2 primary-text fs-5 fw-semibold"><span id="total-money">0</span><sup> đ</sup>
                    </p>
                </div>
                <div class="btn-add-order">
                    <button asp-action="CreateOrder" asp-controller="ViewProduct" asp-area="Products"
                        class="btn primary-bg text-white w-100" onclick="checkChooseProduct(event)">Đặt hàng</button>
                </div>
            </div>
        </div>
    </form>
</div>

@* Toast *@
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header align-items-center">
            <i class="text-warning fs-6 fa-solid fa-circle-exclamation"></i>
            <span class="ms-2 me-auto fs-6">Đã thêm sản phẩm vào giỏ hàng</span>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Products/cart.js"></script>
}