<div class="home-slide-section">
    <div class="row">
        <div class="col">
            <div class="home-slide-section">
                <div id="home-page-slide" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators flex-wrap">
                         <button type="button" data-bs-target="#home-page-slide" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Hình ảnh 1">
                        </button>
                        <button type="button" data-bs-target="#home-page-slide" data-bs-slide-to="1"
                            class="" aria-current="true" aria-label="Hình ảnh 2">
                        </button>
                        <button type="button" data-bs-target="#home-page-slide" data-bs-slide-to="2"
                            class="" aria-current="true" aria-label="Hình ảnh 3">
                        </button>
                        <button type="button" data-bs-target="#home-page-slide" data-bs-slide-to="3"
                            class="" aria-current="true" aria-label="Hình ảnh 4">
                        </button>
                        <button type="button" data-bs-target="#home-page-slide" data-bs-slide-to="4"
                            class="" aria-current="true" aria-label="Hình ảnh 5">
                        </button>
                        <button type="button" data-bs-target="#home-page-slide" data-bs-slide-to="5"
                            class="" aria-current="true" aria-label="Hình ảnh 6">
                        </button>
                    </div>
                    <div class="carousel-inner h-100">
                        <div class="carousel-item h-100 active" data-bs-interval="4000">
                            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                <img src="~/images/home-slide/638326123868033069_F-C1_1200x300.webp" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item h-100" data-bs-interval="4000">
                            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                <img src="~/images/home-slide/638321846764449015_F-C1_1200x300.webp" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item h-100" data-bs-interval="4000">
                            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                <img src="~/images/home-slide/638319207158675908_F-C1_1200x300.webp" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item h-100" data-bs-interval="4000">
                            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                <img src="~/images/home-slide/638317476292540238_F-C1_1200x300.webp" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item h-100" data-bs-interval="4000">
                            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                <img src="~/images/home-slide/638317195199194071_F-C1_1200x300@2x.webp" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item h-100" data-bs-interval="4000">
                            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                                <img src="~/images/home-slide/638264776256861272_F-C1_1200x300iP13 1.webp" alt="...">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#home-page-slide"
                        data-bs-slide="prev">
                        <i class="slide-control fa-solid fa-chevron-left primary-text" aria-hidden="true"></i>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#home-page-slide"
                        data-bs-slide="next">
                        <i class="slide-control fa-solid fa-chevron-right primary-text" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>