@using App.Areas.Products.Services;
@using App.Services;
@inject CartService _cart;
@inject HomeCategoryService _homeCategory;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <div class="wrapper d-flex flex-column h-100">
        <header>
            <nav class="header-navbar navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow primary-bg">
                <div class="container-xxl py-1">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Home">
                                    <img src="~/images/logo-white.png" class="home-header-logo">
                                </a>
                            </li>
                            <li class="nav-item ms-4">
                                <div class="header-item active rounded p-1 d-flex align-items-center position-relative">
                                   
                                    <div class="ps-2 pe-1 d-flex align-items-center">
                                        <i class="text-white fa-solid fa-bars"></i>
                                    </div>
                                    <div class="ps-1 pe-2">
                                        <p class="mb-0 text-white">Danh mục</p>
                                    </div>
                                    @{
                                        @await Component.InvokeAsync("App.Components.HomeCategorySection", _homeCategory.GetData());
                                    }
                                    
                                </div>
                            </li>
                        </ul>
                        <form method="get" class="d-flex header-search-container ms-4 me-2 flex-grow-1">
                            <input class="header-search-input form-control me-2 px-3" type="text" name="s"
                                placeholder="Bạn cần tìm gì... ?" aria-label="Search" value='@Context.Request.Query["s"]'>
                            <button class="btn header-search-btn" type="submit" 
                                asp-action="Index" asp-controller="ViewProduct" asp-area="Products">
                                <i class="primary-text fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                        <div class="d-flex  justify-content-end">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item ms-2">
                                    <div class="header-item active rounded p-1 d-flex align-items-center">
                                        <div class="ps-2 pe-1 d-flex align-items-center">
                                            <i class="text-white fa-solid fa-phone"></i>
                                        </div>
                                        <div class="ps-1 pe-2">
                                            <p class="mb-0 text-white" style="font-size: 12px;">Gọi mua hàng</p>
                                            <p class="mb-0 text-center text-white fw-semibold">1800.1789</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item ms-2">
                                    <a class="mb-0 text-white text-center lh-lg text-decoration-none" asp-action="Cart" asp-controller="ViewProduct" asp-area="Products">
                                        <div class="header-item rounded p-1 d-flex align-items-center position-relative">
                                            <div class="ps-2 d-flex align-items-center">
                                                <i class="text-white fa-solid fa-cart-shopping"></i>
                                            </div>
                                            <div class="ps-2 pe-2">
                                                Giỏ hàng
                                            </div>
                                            @{
                                                var cartList = _cart.GetCart();
                                                
                                            }
                                            <div class="position-absolute top-0 end-0">
                                                <div id="cart-quantity" class="rounded-circle bg-white primary-text justify-content-center align-items-center fw-semibold" style="width: 16px; height: 16px; font-size: 10px; @if(cartList == null || cartList.Count() == 0){@("display: none")}else{@("display: flex")}">
                                                    @if(cartList != null && cartList.Count() > 0) {@cartList.Count()}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item ms-2">
                                    <div class="header-item rounded p-1 d-flex align-items-center">
                                        <div class="ps-2 d-flex align-items-center">
                                            <i class="text-white fa-solid fa-truck-arrow-right"></i>
                                        </div>
                                        <div class="ps-2 pe-2">
                                            <a asp-action="OrderCheck" asp-controller="ViewProduct" asp-area="Products" class="text-white text-decoration-none lh-sm">
                                                <p class="mb-0 text-center">Tra cứu <br> đơn hàng</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <partial name="_LoginPartial"></partial>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container flex-grow-1">
            <main role="main" class="h-100">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted flex-shrink-0 home-footer">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="footer-group">
                            <p class="footer-heading">Tổng đài hỗ trợ</p>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    Gọi mua hàng 1800.1789 (7h30 - 22h)
                                </li>
                                <li class="footer-item">
                                    Gọi khiếu nại 1800.1987 (8h00 - 21h30)
                                </li>
                                <li class="footer-item">
                                    Gọi bảo hành 1800.1879 (8h00 - 21h00)
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="footer-group">
                            <p class="footer-heading">Thông tin và chính sách</p>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    Mua hàng và thanh toán Online
                                </li>
                                <li class="footer-item">
                                    Mua hàng trả góp Online
                                </li>
                                <li class="footer-item">
                                    Chính sách giao hàng
                                </li>
                                <li class="footer-item">
                                    Tra thông tin bảo hành
                                </li>
                                <li class="footer-item">
                                    Tra cứu hoá đơn điện tử
                                </li>
                                <li class="footer-item">
                                    Thông tin hoá đơn mua hàng
                                </li>
                                <li class="footer-item">
                                    Trung tâm bảo hành chính hãng
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="footer-group">
                            <p class="footer-heading">Dịch vụ và thông tin khác</p>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    Khách hàng doanh nghiệp (B2B)
                                </li>
                                <li class="footer-item">
                                    Ưu đãi thanh toán
                                </li>
                                <li class="footer-item">
                                    Quy chế hoạt động
                                </li>
                                <li class="footer-item">
                                    Chính sách Bảo hành
                                </li>
                                <li class="footer-item">
                                    Liên hệ hợp tác kinh doanh
                                </li>
                                <li class="footer-item">
                                    Tuyển dụng
                                </li>
                                <li class="footer-item">
                                    Dịch vụ bảo hành điện thoại
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="footer-group">
                            <p class="footer-heading">Kết nối với chúng tôi</p>
                            <ul class="link-list">
                                <li class="link-item">
                                    <a href="https://youtube.com">
                                        <img src="/images/Youtube.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://facebook.com">
                                        <img src="/images/Facebook.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://instagram.com">
                                        <img src="/images/Instagram.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://tiktok.com">
                                        <img src="/images/Tiktok.png" alt="">
                                    </a>
                                </li>
                                <li class="link-item">
                                    <a href="https://zalo.me">
                                        <img src="/images/Zalo.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
