@model SetPasswordModel

@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<div class="card h-100">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        @ViewData["Title"] cho user @ViewBag.User.UserName
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <form method="post" asp-route-userid="@ViewBag.User.Id">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group mb-2">
                        <label class="form-label" asp-for="NewPassword"></label>
                        <input class="form-control" asp-for="NewPassword" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-label" asp-for="ConfirmPassword"></label>
                        <input class="form-control" asp-for="ConfirmPassword" />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-group mb-4">
                        <button type="submit" class="btn btn-success">Cập nhật</button>
                        <a asp-action="Index" asp-controller="User" asp-area="Identity" class="btn btn-primary">Quay lại
                            danh sách</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="_AlertMessage" />
</div>


@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}