@import "../mixin";
.order-by-user-container {
    .mobile-order-heading {
        background-color: white;
        padding: 8px 12px 0;

        .heading-text {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 500;
            display: inline-block;

            .order-count {
                font-size: 8px;
                font-weight: normal;
            }
        }

        .div-heading {
            margin-top: 4px;
            margin-bottom: 0;
        }
    }
    .order-options {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        .order-options-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            box-shadow: $shadow-sm;
            .order-option-item {
                flex: 1;
                text-align: center;
                background-color: white;
                position: relative;
                cursor: pointer;
                transition: all 0.1s ease;

                .order-option-link {
                    display: block;
                    height: 48px;
                    line-height: 48px;
                    text-decoration: none;
                    color: $text-color;
                }

                &:hover {
                    color: $primary-color;
                }

                &.active {
                    .order-option-link {
                        color: $primary-color;
                    }
                    &::after {
                        position: absolute;
                        z-index: 1;
                        display: block;
                        content: "";
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 4px;
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    .order-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 12px;
        .order-item {
            background-color: white;
            border-radius: 4px;
            box-shadow: $shadow-sm;
            padding: 12px;
            margin-bottom: 8px;

            .order-status {
                margin-bottom: 6px;
                display: flex;
                justify-content: space-between;
            }

            .product-list {
                padding: 0;
                margin: 0;
                list-style: none;

                .product-item {
                    display: flex;
                    height: 100px;
                    padding-right: 24px;
                    .product-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            height: 90%;
                            object-fit: contain;
                        }
                    }
                    .product-desc {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .product-name {
                            font-weight: 500;
                            margin-bottom: 0;
                            text-decoration: none;
                            color: $text-color;
                        }
                        .product-info {
                            margin-bottom: 0;
                        }
                        .product-cost {
                            .product-quantity {
                                margin-bottom: 0;
                                text-align: right;
                            }
                            .product-price {
                                margin-bottom: 0;
                                color: $primary-color;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .order-footer {
                display: flex;
                flex-direction: column;
                align-items: end;

                .order-total-cost {
                    margin: 12px 24px 12px;
                }

                .order-action {
                    margin-right: 12px;
                }
            }
        }
    }

    .order-empty {
        margin-top: 12px;
        min-height: 500px;
        background-color: white;
        border-radius: 4px;
        box-shadow: $shadow-sm;
        display: flex;
        justify-content: center;
        align-items: center;

        .order-empty-container {
            .empty-img {
            }
            .empty-content {
                margin-top: 4px;
                text-align: center;
            }
        }
    }
}

@include tablet {
    .order-by-user-container {
        .order-options {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .order-options-list {
                .order-option-item {
                    flex: none;
                    width: 120px;
                    .order-option-link {
                    }
                }
            }
        }
    }
}

@include mobile {
    .order-by-user-container {
        .order-options {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .order-options-list {
                .order-option-item {
                    flex: none;
                    width: 110px;
                    .order-option-link {
                        height: 42px;
                        line-height: 42px;
                    }
                }
            }
        }

        .order-list {
            .order-item {
                .order-status {
                    flex-direction: column;
                }
            }
        }
    }
}
