@import "../variables";
@import "../mixin";
.order-check-container {
    margin-bottom: 80px;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: $shadow-sm;

    .heading {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .order-input {
        .banner {
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: white;
            overflow: hidden;

            .input-form {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 12px;
                background-color: white;
                border-radius: 4px;
            }

            .order-check-banner {
                height: 100%;
                width: 100%;
                img {
                    height: 300px;
                    object-fit: contain;
                }
            }
        }
    }

    .order-info {
        margin: 24px auto;
        background-color: white;
        border-radius: 8px;
        box-shadow: $shadow-sm;
        border: $border-gray-sm;
        position: relative;
        padding: 24px 48px;
        overflow: hidden;

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 8px;
            background-image: url("/images/phong-thu.jpg");
            background-repeat: repeat-x;
            background-size: contain;
        }

        &::before {
            display: block;
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 8px;
            background-image: url("/images/phong-thu.jpg");
            background-repeat: repeat-x;
            background-size: contain;
        }

        .product-list {
            list-style: none;
            padding: 0;
            margin: 0 60px;
            margin-top: 24px;

            .product-item {
                background-color: rgba($color: #000000, $alpha: 0.03);
                border-radius: 8px;
                margin-bottom: 8px;

                height: 130px;

                .product-item-img {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .product-item-info {
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .product-item-name {
                        font-weight: 500;
                    }

                    .product-item-color {
                    }

                    .product-item-capacity {
                    }

                    .product-item-quantity {
                    }

                    .product-item-price {
                    }
                }

                .product-item-total-price {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@include mobile {
    .order-check-container {
        .order-info {
            padding: 16px 12px;

            .product-list {
                margin: 24px 0 0;
                .product-item {
                    .product-item-img {
                        img {
                            height: 80%;
                        }
                    }

                    .product-item-info {
                        .product-item-name {
                        }

                        .product-item-color {
                        }

                        .product-item-capacity {
                        }

                        .product-item-quantity {
                        }

                        .product-item-price {
                        }
                    }

                    .product-item-total-price {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
