@import '../variables';

.order-confirmed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;

    .order-confirmed-container {

        margin-bottom: 30%;
        .icon-success {
            i {
                font-size: 36px;
            }
        }

        .heading {
            font-weight: 500;
            font-size: 24px;
            color: $primary-color;
        }
        
        .desc {

        }

        .btn-navigate {

            .btn-order-info {
                border: 1px solid $primary-color;
            }

            .btn-home {
                
                background-color: $primary-color;
                &:hover {
                    background-color: rgba($color: $primary-color, $alpha: .9);
                }
            }
        }
    }
}