@import "../variables";

.order-confirmed {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    height: 75vh;
    border-radius: 8px;
    box-shadow: $shadow-sm;

    .order-confirmed-container {
        margin-top: 100px;
        .icon-success {
            img {
                width: 100px;
            }
        }

        .heading {
            font-weight: 500;
            font-size: 24px;
            color: $primary-color;
        }

        .desc {
        }

        .btn-navigate {
            display: flex;
            justify-content: center;

            .btn-order-info {
                border: 1px solid $primary-color;
            }

            .btn-home {
                background-color: $primary-color;
                &:hover {
                    background-color: rgba($color: $primary-color, $alpha: 0.9);
                }
            }
        }
    }
}
