@import "../mixin";
.order-container {
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: $shadow-sm;
    padding-bottom: 40px;

    .heading {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
    }

    .order-infor {
        background-color: white;
        border-radius: 4px;
        box-shadow: $shadow-sm;
        border: $border-gray-sm;
        position: relative;
        overflow: hidden;

        #online-pay-note {
            font-size: 14px;
        }

        .btn-order {
            background-color: $primary-color;
            &:hover {
                background-color: rgba($color: $primary-color, $alpha: 0.9);
            }
        }

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 8px;
            background-image: url("/images/phong-thu.jpg");
            background-repeat: repeat-x;
            background-size: contain;
        }

        &::before {
            display: block;
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 8px;
            background-image: url("/images/phong-thu.jpg");
            background-repeat: repeat-x;
            background-size: contain;
        }

        .product-list {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 24px;

            .product-item {
                background-color: rgba($color: #000000, $alpha: 0.03);
                border-radius: 8px;
                margin-bottom: 8px;
                overflow: hidden;

                height: 130px;
                .product-item-img {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .product-item-info {
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .product-item-name {
                        font-weight: 500;
                    }

                    .product-item-color {
                    }

                    .product-item-capacity {
                    }

                    .product-item-quantity {
                    }

                    .product-item-price {
                    }
                }

                .product-item-total-price {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .payments {
            .total-cost {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba($color: #000000, $alpha: 0.03);
                padding: 12px 48px;
                border-radius: 8px;
            }

            .payments-method {
                .pay-options {
                    .pay-option-item {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 52px;
                        background-color: rgba($color: #000000, $alpha: 0.025);
                        border-radius: 8px;

                        input {
                            margin-right: 6px;
                            &:checked {
                                accent-color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .order-container {
        .order-infor {
            .product-list {
                .product-item {
                    .product-item-img {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 80%;
                            object-fit: contain;
                        }
                    }

                    .product-item-info {
                        .product-item-name {
                        }

                        .product-item-color {
                        }

                        .product-item-capacity {
                        }

                        .product-item-quantity {
                        }

                        .product-item-price {
                        }
                    }

                    .product-item-total-price {
                        padding-left: 0;
                    }
                }
            }
            .payments {
                .total-cost {
                    padding: 12px;
                    border-radius: 4px;
                }

                .payments-method {
                    .pay-options {
                        .pay-option-item {
                            justify-content: start;

                            input {
                                &:checked {
                                    accent-color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
