@import "../mixin";
.payment-result {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-radius: 4px;
    box-shadow: $shadow-sm;
    .payment-result-container {
        width: 500px;
        .result-icon {
            text-align: center;
            img {
                width: 50px;
            }
        }
        .result-heading {
            p {
                font-size: 32px;
            }
        }
        .result-content {
            .pay-success {
                p {
                    margin-bottom: 4px;
                }
            }

            .btn-order-info {
                border: 1px solid $primary-color;
            }
        }
    }
}
