@{
    ViewData["Title"] = "Xác thực email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn đã hoàn thành xác thực. <a asp-action="Login" asp-controller="Account" asp-area="Identity">Bấm vào đây</a> để đăng nhập.
</p>