@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<div class="forgot-pw-container">
    <div class="forgot-pw-page">
        <p class="forgot-pw-heading">Quên mật khẩu</p>
        <div class="page-logo">
            <img src="~/images/logo-color.png">
        </div>
        <section>
            <form method="post" asp-action="ForgotPassword" asp-controller="Account" asp-area="Identity">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="" />
                    <label asp-for="Email" class="form-label primary-text opacity-100">Nhập email để lấy lại mật khẩu</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn primary-bg text-white">Khôi phục mật khẩu</button>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}