@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}
<div class="row login-page">
    <div class="col-md-4 offset-md-4">
        <h4 class="text-center text-dark fw-semibold">Vui lòng nhập email để lấy lại mật khẩu</h4>
        <img src="~/images/logo-color.png" style="width: 100%; height: 100px; object-fit: cover;">
        <section>
            <form method="post" asp-action="ForgotPassword" asp-controller="Account" asp-area="Identity">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true"/>
                    <label asp-for="Email" class="form-label primary-text opacity-100"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn primary-bg text-white">Khôi phục mật khẩu</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}