@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<div class="forgot-pw-container">
    <div class="forgot-pw-page">
        <p class="forgot-pw-heading">@ViewData["Title"]</p>
        <div class="page-logo">
            <img src="~/images/logo-color.png">
        </div>
        <section>
            <p class="text-center">Kiểm tra email của bạn để lấy lại mật khẩu. Quay lại <a href="/" class="primary-text">trang chủ</a></p>
        </section>
    </div>
</div>
