@{
    ViewData["Title"] = "Thông báo";
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <img src="~/images/logo-color.png">
        <p class="text-success"><i class="fa-solid fa-check"></i> Đăng ký thành công. Vui lòng kiểm tra email để xác thực</p>
    </div>
</div>