@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được đặt lại. Hãy <a asp-action="Login" asp-controller="Account" asp-area="Identity">ấn vào đây</a> để đăng nhập.
</p>
