@{
    ViewData["Title"] = "Thay đổi mật khẩu thành công";
}

<div class="forgot-pw-container">
    <div class="forgot-pw-page">
        <p class="forgot-pw-heading">@ViewData["Title"]</p>
        <div class="page-logo">
            <img src="~/images/logo-color.png">
        </div>
        <section>
            <p class="text-center">Mật khẩu của bạn đã được đặt lại. Hãy <a asp-action="Login" asp-controller="Account" asp-area="Identity">ấn
                vào đây</a> để đăng nhập.</p>
        </section>
    </div>
</div>
