@model ResetPasswordModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<div class="forgot-pw-container">
    <div class="forgot-pw-page">
        <p class="forgot-pw-heading">@ViewData["Title"]</p>
        <div class="page-logo">
            <img src="~/images/logo-color.png">
        </div>
        <section>
            <form method="post" asp-action="ResetPassword" asp-controller="Account" asp-area="Identity">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Code" type="hidden" />
                <input asp-for="Email" type="email" hidden>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true"
                        placeholder="Please enter your password." />
                    <label asp-for="Password" class="form-label primary-text opacity-100">Mật khẩu mới</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password"
                        aria-required="true" placeholder="Please confirm your password." />
                    <label asp-for="ConfirmPassword" class="form-label primary-text opacity-100">Nhập lại mật khẩu mới</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn primary-bg text-white">Xác nhận</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}