@import 'variables';

.card {

    .card-body {

        .order-container {
            
            .order-info {

                .product-list {

                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .product-item {

                        width: 50%;
                        background-color: aliceblue;
                        margin-bottom: 12px;
                        border-radius: 8px;
                        box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.05);
                        

                        .product-item-img {
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 80px;
                                object-fit: contain;
                            }
                        }

                        .product-item-info {

                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .product-item-name {

                                a {

                                    text-decoration: none;
                                    &:hover {
                                        opacity: .8;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }

                        .product-item-total-price {

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        .bill-container {
            padding: 16px;
            border-radius: 4px;
            border: $border-gray-sm;
            color: $primary-color;
            .left-section {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 60%;
                }
            }

            .right-section {
                p {
                    margin-bottom: 0;
                    text-align: right;
                }
            }

            .customer-info {
                p {
                    margin-bottom: 0;
                }
            }

            .table {
                border-color: $primary-color;
            }

            .bill-footer {
                p {
                    margin-bottom: 0;
                }

                .bill-sign {
                    min-height: 200px;
                    .date-time {
                        text-align: right;
                    }    
                }
            }
        }
    }
}

.ad-create-order-container {
    .card-body {
        .result-search {
            .list-group {
                .list-group-item {
                    &:hover {
                        background-color: rgb(235, 235, 235)
                    }
                }
            }
        }
    }
}