@import 'variables';

.product-details-container {

    .product-heading {

        position: relative;

        p {
            font-size: 22px;
            font-weight: 400;
        }

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background-color: rgba($color: $primary-color, $alpha: 0.2);
        }
    }

    .product-info {

        .photo-slide {
            
            height: 540px;
            .carousel-indicators {
                
                bottom: unset;
                top: 100%;
                .sm-photo-btn {
                    width: 60px;
                    height: 48px;
                    opacity: 1;
                    
                    .sm-photo-box {
                        
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .sm-photo {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                    }
                }

                .sm-photo-btn.active {
                    .sm-photo-box {
                        outline: 1px solid $primary-color;
                    }
                }
            }

            .carousel-inner {
                width: 100%;
                height: 380px;

                .carousel-item {

                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .product-price {

            
            .sell-price {
                font-size: 24px;
            }

            .old-price {
                font-size: 16px;
            }
        }
    }
}