$primary-color: #F94C10;
$secondary-color: #C70039;
$third-color: #F8DE22;
$fourth-color: #900C3F;
$border-gray-sm: 1px solid rgba(#000, 0.1);
$border-primary: 1px solid $primary-color;
$text-color: #333;
$shadow-sm: 0 4px 20px rgba(#000, 0.05);