$primary-color: #f94c10;
$secondary-color: #c70039;
$third-color: #f8de22;
$fourth-color: #00a9ff;
$bg-gray: #f4f4f4;
$border-gray-sm: 1px solid rgba(#000, 0.1);
$border-gray-ssm: 1px solid rgba(#000, 0.05);
$border-primary: 1px solid $primary-color;
$text-color: #333;
$shadow-sm: 0 4px 20px rgba(#000, 0.05);
$shadow-xy-lg: 0 0px 15px rgba(#000, 0.07);
