@import 'variables';

.primary-text {
    color: $primary-color !important;
}

.secondary-text {
    color: $secondary-color !important;
}

.third-text {
    color: $third-color !important;
}

.fourth-text {
    color: $fourth-color !important;
}

.primary-bg {
    background-color: $primary-color !important;
}

.secondary-bg {
    background-color: $secondary-color !important;
}

.third-bg {
    background-color: $third-color !important;
}

.fourth-bg {
    background-color: $fourth-color !important;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(245,245,245) !important;
}

@import "header";
@import "AdminCP/AddPhoto";
@import "AdminCP/ProductDetails";
@import "AdminCP/UserManager";
@import "AdminCP/ModalEditImg";
@import "login";
@import "HomeProduct";
@import "ProductDetails";