@import "../mixin";
#chat-container {
    position: fixed;
    bottom: 106px;
    right: 33px;
    z-index: 99;
    // background-color: rgba($color: #000000, $alpha: 0.5);

    .chat-btn {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .chat-icon {
            font-size: 24px;
            color: white;
        }
    }

    .chat-content {
        position: absolute;
        right: calc(100% + 10px);
        bottom: calc(-100px - 50% + 20px);
        width: 340px;
        height: 400px;
        background-color: white;
        border-radius: 8px;
        box-shadow: $shadow-sm;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        visibility: hidden;

        &.active {
            visibility: visible;
        }

        .heading {
            font-size: 14px;
            background-color: $primary-color;
            color: white;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #close-chat-btn {
                cursor: pointer;
            }
        }

        .message-list {
            flex: 1;
            overflow-y: scroll;
            padding-top: 12px;
            padding-bottom: 12px;

            #alert-must-login {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: #b0b0b0; /* Màu nền của thanh cuộn */
                border-radius: 6px; /* Độ cong của viền thanh cuộn */
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1; /* Màu nền của vùng chứa thanh cuộn */
            }

            .message-item {
                padding: 0 12px;
                .message-info {
                    display: flex;
                    align-items: center;
                    .message-avatar {
                        img {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            object-fit: contain;
                        }
                    }

                    .message-content {
                        margin: 0 6px;
                        font-size: 14px;
                        background-color: $bg-gray;
                        padding: 4px 8px;
                        border-radius: 8px;
                    }
                }
                .message-date {
                    font-size: 11px;
                }

                &.user {
                    .message-info {
                        flex-direction: row-reverse;

                        .message-content {
                            background-color: $fourth-color;
                            color: white;
                        }
                    }

                    .message-date {
                        text-align: right;
                    }
                }
            }
        }

        .send-message-container {
            padding: 4px 8px;
            display: flex;
            .send-message-input {
                margin-right: 8px;
                word-wrap: break-word;
                word-break: break-word;
                &:focus {
                    border-color: $primary-color;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
            .send-message-btn {
            }
        }
    }
}

@include tablet {
    #chat-container {
        .chat-content {
            right: calc(100% + 10px);
            bottom: calc(-100px - 50% + 30px);
        }
    }
}

@include mobile {
    #chat-container {
        bottom: 10px;
        right: 10px;
        .chat-content {
            right: calc(0);
            bottom: 60px;
            width: calc(100vw - 100% + 20px);
        }
    }
}
