.product-container {
    margin: 0 -6px 16px;

    .product_grid {
        display: flex;
        flex-wrap: wrap;

        .item {
            width: calc(20% - 12px);
            margin: 6px;

            .card {
                height: 424px;
                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.05);
                background-color: white;
                transition: all 0.1s linear;

                .card-img {
                    padding: 8px;
                    height: 270px;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        transition: transform 0.2s linear;
                    }
                }

                .card-body {
                    padding: 8px;
                    .card-title {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: 500;
                        height: 36px;

                        a {
                            margin-bottom: 4px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            color: #333;
                            text-decoration: none;
                        }

                        & > a:hover {
                            color: #c70039;
                            cursor: pointer;
                        }
                    }

                    .card-price {
                        .selling-price {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .old-price {
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }

                    .product-rating {
                        font-size: 14px;
                    }

                    .product-info {
                        display: flex;
                        flex-wrap: wrap;

                        .product-info-item {
                            padding: 2px 6px;
                            border-radius: 4px;
                            background-color: #f3f3f3;
                            color: #4c4c4c;
                            font-weight: 500;
                            font-size: 11px;
                            margin-right: 8px;
                            margin-bottom: 4px;
                        }
                    }
                }

                .add-to-cart-btn {
                    position: absolute;
                    bottom: 4px;
                    right: 8px;
                    visibility: hidden;
                    opacity: 0;
                    cursor: pointer;
                    transition: all 0.1s linear;

                    .add-to-cart-icon {
                        color: $primary-color;
                        font-size: 20px;
                        padding: 8px;
                        transition: all 0.1s linear;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                &:hover {
                    box-shadow: $shadow-sm;

                    .card-img {
                        img {
                            cursor: pointer;
                            transform: scale(1.01);
                        }
                    }

                    .card-body {
                        .add-to-cart-btn {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.product-bestseller {
    background: linear-gradient(360deg, $primary-color, rgba($primary-color, 0.92));
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    padding: 0 6px;
    position: relative;

    .arrow {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        z-index: 1;
        color: $primary-color;
        background-color: rgb(255, 255, 255);
        border: $border-gray-sm;
        width: 28px;
        height: 28px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &.left-arrow {
            left: 20px;
        }

        &.right-arrow {
            right: 20px;
        }
    }

    .heading {
        color: white;
        font-size: 24px;
        font-weight: 500;
        padding: 12px 24px;
        border-radius: 8px;
        margin-left: 7px;
        display: inline-flex;
        align-items: center;
        height: 80px;

        img {
            width: 30px;
            margin-right: 12px;
        }
    }

    .product_grid {
        margin-top: 12px;
        padding-bottom: 6px;
    }
}

.hot-heading {
    background-color: $primary-color;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
        transition: color 0.1s ease;

        &:hover {
            color: $third-color;
        }
    }

    img {
        margin-left: 12px;
        width: 20px;
    }
}

.home-pagination {
    margin-top: 24px;

    ul {
        justify-content: center;

        li {
            a {
                color: $primary-color;
            }

            &:hover {
                a {
                    color: $primary-color;
                }
            }
        }

        li.active {
            a {
                color: white !important;
                background-color: $primary-color !important;
                border-color: #dee2e6 !important;
            }
        }
    }
}

@include mobile {
    .product-container {
        margin-top: 12px;
        .product_grid {
            display: flex;
            flex-wrap: wrap;

            .item {
                min-width: calc(50% - 12px);
                width: calc(50% - 12px);
                margin: 0 6px;
                .card {
                    height: 324px;
                    .card-img {
                        height: 180px;
                        padding: 0;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                            transition: transform 0.2s linear;
                        }
                    }

                    .card-body {
                        padding-top: 0;

                        .product-info {
                            .product-info-item {
                                margin-right: 2px;
                                margin-bottom: 2px;
                            }
                        }

                        .card-price {
                            margin: 2px 0;
                        }
                    }
                }
            }
        }
    }

    .product-bestseller {
        margin-top: 0;
        padding: 0 12px 6px;

        .heading {
            height: 60px;
            font-size: 20px;
            img {
                width: 24px;
            }
        }

        .arrow {
            display: flex;

            &.left-arrow {
                left: 4px;
            }

            &.right-arrow {
                right: 4px;
            }
        }

        .product_grid {
            margin-top: 0;
            flex-wrap: nowrap;
            overflow-x: scroll;
            position: relative;

            &::-webkit-scrollbar {
                display: none;
            }

            .item {
                min-width: calc(50% - 12px + 6px);
                width: calc(50% - 12px + 6px);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                .card {
                    .card-img {
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                            transition: transform 0.2s linear;
                        }
                    }
                }
            }
        }

        .heading {
            padding: 0;
            margin-left: 0;
            display: flex;
            justify-content: center;
        }
    }

    .hot-heading {
        background-color: $primary-color;
        padding: 12px 20px;
        border-radius: 8px;
        display: inline-flex;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            transition: color 0.1s ease;
            font-size: 18px;

            &:hover {
                color: $third-color;
            }
        }

        img {
            margin-left: 12px;
            width: 16px;
        }
    }
}

@include tablet {
    .product-bestseller {
        padding: 0 12px;
        .arrow {
            display: flex;
            &.left-arrow {
                left: 4px;
            }

            &.right-arrow {
                right: 4px;
            }
        }

        .product_grid {
            flex-wrap: nowrap;
            overflow-x: scroll;
            position: relative;
            padding-bottom: 6px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .product-container {
        .product_grid {
            .item {
                min-width: calc(25% - 12px + 3px);
                width: calc(25% - 12px + 3px);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                .card {
                    height: unset;
                    .card-img {
                        height: 190px;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
