.home-product-with-filter {
    .left-section {
        flex: 0 0 auto;
        width: 20%;
        .input-container {
            background-color: white;
            padding: 8px 16px;
            border-radius: 4px;
            box-shadow: $shadow-sm;
            border: $border-gray-sm;
            .input-groups {
                margin-bottom: 12px;
                .heading {
                    font-weight: 500;
                    margin-bottom: 16px;
                }
                .input-list {
                    display: flex;
                    flex-wrap: wrap;
                    .input-item {
                        width: 50%;
                        margin-bottom: 4px;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        input {
                            margin-right: 10px;
                            transform: scale(1.2);
                            cursor: pointer;
                            &:checked {
                                accent-color: $primary-color;
                            }
                        }

                        &.price,
                        &.purpose {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .right-section {
        flex: 0 0 auto;
        width: 80%;
        .sort-section {
            height: 68px;
            background-color: white;
            border-radius: 8px;
            border: $border-gray-sm;
            box-shadow: $shadow-sm;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;

            .heading {
                .title {
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                .search-result {
                    font-size: 22px;
                }
                .product-count {
                    font-size: 18px;
                }
                .btn-reset-search {
                    color: $primary-color;
                    transition: all 0.1s ease;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .sort-bar {
                display: flex;
                align-items: center;
                .sort-list {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    .sort-item {
                        a {
                            display: block;
                            padding: 6px 12px;
                            border: $border-gray-sm;
                            border-right: none;
                            color: $text-color;
                            text-decoration: none;
                        }

                        &:last-child {
                            a {
                                border-right: $border-gray-sm;
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                        }

                        &:first-child {
                            a {
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                        }

                        &.active {
                            a {
                                background-color: $primary-color;
                                color: white;
                            }
                        }
                    }
                }

                .sort-heading {
                    margin-bottom: 0;
                    margin-right: 16px;
                }
            }

            .sort-bar-tablet-mobile {
                display: none;
                height: 100%;
                align-items: center;
                .sort-heading {
                    margin-bottom: 0;
                    width: 70px;
                }
                .sort-list {
                    height: 36px;
                    width: 140px;
                    .sort-item {
                    }
                }
            }
        }

        .mobile-sort-section {
            display: none;
            .heading {
                .title {
                    font-size: 18px;
                    font-weight: 500;
                }

                .btn-reset-search {
                    color: $primary-color;
                    .reset-search-icon {
                        font-size: 18px;
                    }
                }
            }

            .sort-bar {
                .sort-list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    .sort-item {
                        text-align: center;
                        a {
                            display: block;
                            text-decoration: none;
                            color: $text-color;
                            border: $border-gray-sm;
                            padding: 2px 8px;
                            border-right: none;
                        }

                        &:last-child {
                            a {
                                border-right: $border-gray-sm;
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                        }

                        &:first-child {
                            a {
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                        }

                        &.active {
                            a {
                                background-color: $primary-color;
                                color: white;
                            }
                        }
                    }
                }
            }

            .filter {
                .btn-filter {
                    background-color: #e9e9e9;
                    font-size: 12px;

                    .filter-icon {
                        color: $primary-color;
                    }
                }
            }

            .filter-result {
                margin-top: 8px;
                .filter-result-list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .filter-result-item {
                        border: $border-gray-sm;
                        display: inline-flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 2px 6px;
                        border-radius: 4px;
                        margin-bottom: 6px;
                        .filter-result-content {
                            color: $text-color;
                        }
                        .filter-result-icon {
                            margin-left: 6px;
                            font-size: 12px;
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .product-container {
            margin-top: 16px;
            margin-bottom: 40px;
            .product_grid {
                display: flex;
                flex-wrap: wrap;
                .item {
                    width: calc(25% - 12px);
                    margin: 0 6px 12px;

                    .card {
                        .card-img {
                            padding: 0;
                        }

                        .card-body {
                            .product-rating {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .pagination {
            justify-content: center;
            margin-bottom: 40px;
            .page-item {
                .page-link {
                    color: $primary-color;
                }
                &.active {
                    .page-link {
                        background-color: $primary-color;
                        color: white;
                        border: $border-primary;
                    }
                }
                &.disabled {
                    .page-link {
                        color: #6c757d;
                    }
                }
            }
        }
    }
}

.offcanvas-body {
    .input-container {
        background-color: white;
        padding: 0px 8px;
        .input-groups {
            margin-bottom: 12px;
            .heading {
                font-weight: 500;
                margin-bottom: 16px;
            }
            .input-list {
                display: flex;
                flex-wrap: wrap;
                .input-item {
                    width: 50%;
                    margin-bottom: 4px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    input {
                        margin-right: 10px;
                        transform: scale(1.2);
                        cursor: pointer;
                        &:checked {
                            accent-color: $primary-color;
                        }
                    }

                    &.price,
                    &.purpose {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include tablet {
    .home-product-with-filter {
        .left-section {
            width: 30%;
        }
        .right-section {
            width: 70%;

            .sort-section {
                height: 48px;

                .heading {
                    .title {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                    .search-result {
                        font-size: 16px;
                    }
                    .product-count {
                        font-size: 14px;
                    }
                }

                .sort-bar {
                    display: none;
                }

                .sort-bar-tablet-mobile {
                    display: flex;
                }
            }
            .product-container {
                .product_grid {
                    .item {
                        width: calc(33.33333% - 12px);
                        .card {
                            .card-img {
                                padding: 0;
                            }

                            .card-body {
                                padding-top: 0;
                                .card-title {
                                }

                                .product-info {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .home-product-with-filter {
        .left-section {
            display: none;
        }
        .right-section {
            width: 100%;
            .sort-section {
                display: none;
            }
            .mobile-sort-section {
                display: block;
            }

            .product-container {
                .product_grid {
                    margin: 0;
                    .item {
                        width: calc(50% - 8px);
                        margin: 4px;
                        .card {
                            .card-img {
                            }

                            .card-body {
                                .card-title {
                                }

                                .product-info {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
