@import "variables";

.login-page {
    .form-check-input {
        &:checked {
            background-color: $primary-color !important;
            border-color: $primary-color !important;
        }
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .login-page {
        padding: 12px 24px;
        max-width: 500px;
        background-color: white;
        border-radius: 4px;
        box-shadow: $shadow-sm;

        .login-heading {
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 0;
        }

        .page-logo {
            text-align: center;

            img {
                width: 80%;
                object-fit: contain;
            }
        }

        section {
            .form-floating {
                .form-control {
                    &:focus {
                        border-color: $primary-color;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }

            .form-check-input {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}
